{% extends 'layout.html' %}

{% block main %}


<h1 class="text-center mt-5 mb-5 text-primary"></h1>Editar</h1>

    <form method="POST" action="/edit/{{ animals_db }}"> <input type="hidden" name="id" value="{{ animals.id }}"> <label for="location">Locacion:</label>
        <input type="text" id="location" name="location" value="{{animals.location}}">

        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" value="{{animals.name}}">

        <label for="cientific_name">Nombre Científico:</label>
        <input type="text" id="cientific_name" name="cientific_name" value="{{animals.cientific_name}}">

        <label for="location">Ubicación:</label>
        <input type="text" id="location" name="location" value="{{animals.location}}">

        <label for="gender">Género:</label>
        <input type="text" id="gender" name="gender" value="{{animals.gender}}">

        <label for="count">Cantidad:</label>
        <input type="text" id="count" name="count" value="{{animals.count}}">

        <button type="submit">Guardar cambios</button>
    </form>
    <a href="/">Volver a la lista de Animales</a>


{% endblock main %}






        