{% extends 'layout.html' %} 
{% block title %} Página de Inicio {% endblock %}
{% block main %}
<h1 class="text-center">Tabla  de Animales</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ubicación</th>
            <th>Leer</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>

    <tbody>
        {% for animal in animals_db %}
        <tr>
            <td>{{ animal.name }}</td>
            <td>{{ animal.location }}</td>
            <td>
                <a href="/read/{{ animal.id }}">leer</a>
            </td>
            <td>
                <a href="/edit/{{ animal.id }}">editar</a>
            </td>
            <td>
                <a href="/delete/{{ animal.id }}">eliminar</a>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}