{% extends 'layout.html' %}

{% block title %} Detalles de Animales {% endblock %}

{% block main %}
{% if animal %}
<div class="container-fluid">
  <div class="micolor">

  

   <h1 class="text-center">Detalle de Animales</h1>

   <ul class="list-group">
    <li class="list-group-item">Nombre: {{ animal.name }}</li>
    <li class="list-group-item">Nombre Científico: {{ animal.cientific_name }}</li>
    <li class="list-group-item">Ubicación: {{ animal.location }}</li>
    <li class="list-group-item">Género: {{ animal.gender }}</li>
    <li class="list-group-item">Cantidad: {{ animal.count }}</li>
   </ul>
   <a href="/">Volver a la lista de Animales</a>
  </div>
</div>
{% else %}
  <p>Animal not found!</p>
{% endif %}
{% endblock %}